:root {
  --bg-color: #F6F5F2;
  --beige-base: #FAF4E8;
  --beige-secondary: #F1EFE9;
  --accent-color: #CC8E1E;
  --text-main: #2B3F5B;
  --text-black: #000;
  --text-white: #FFF;


  --gradient: radial-gradient(161.19% 64% at 93% 52.6%, #482C98 0%, rgba(45, 30, 136, 0.00) 100%), #06054A;
  --shadow: 0px 5px 20px 0px rgba(82, 69, 138, 0.30);


  --font-size-base: 16px;
  --font-base: "Inter", sans-serif;
  --font-secondary: "Oranienbaum", serif;
}

* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-base), sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: var(--font-size-base);
  color: var(--text-color);
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;

  scroll-behavior: unset;
}

main {
  flex-grow: 1;
}

ul,
li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body::-webkit-scrollbar {
  appearance: none;
  background: #000;
  width: 5px;
}

body::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 5px;
}

.container {
  width: 320px;
  padding: 0 10px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .container {
    width: 768px;
    padding: 0 20px;
    margin: 0 auto;
  }
}

@media (min-width: 1280px) {
  .container {
    width: 1280px;
    padding: 0 20px;
    margin: 0 auto;
  }
}

@media (min-width: 1440px) {
  .container {
    width: 1440px;
    padding: 0 20px;
    margin: 0 auto;
  }
}



/* header */

.header {
  padding-top: 18px;
}


.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.nav-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}

.nav-item {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-between;

  cursor: pointer;
}

.nav-item .nav-link {
  transition: all .3s ease;
}

.nav-item:hover .nav-link {
  color: var(--accent-color)
}

.nav-item svg path {
  transition: all .3s ease;
}

.nav-item:hover svg path {
  stroke: #CC8E1E;
}

.nav-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.dropdown-menu {
  display: none;
  padding: 5px;
  flex-direction: column;
  position: absolute;
  top: 25px;
  left: 0;
  gap: 15px;
  background-color: #fff;
  z-index: 10;
  border-radius: 5px;
}

.fixed {
  position: relative;
}


.dropdown-menu a {
  transition: all .3s ease;
}

.dropdown-menu a:hover {
  color: var(--accent-color);
}

.nav-link.active+.dropdown-menu {
  display: flex;
}

.profile-btn {
  background: rgba(204, 142, 30, 0.10);
  border: none;
  padding: 10px 12px;
  border-radius: 50%;
}

.profile-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;

}

.icon-profile {
  width: 20px;
  height: 23px;
  display: block;
  align-items: center;
  justify-content: center;

  fill: #CC8E1E;
}

.contact-btn {
  position: relative;
  display: flex;
  height: 40px;
  padding: 15px 20px;
  justify-content: center;
  align-items: center;

  border-radius: 50px;
  border: 0.5px solid #CC8E1E;
  background: rgba(204, 142, 30, 0.10);

  color: #CC8E1E;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  transition: all .3s ease;
}

.contact-btn:hover {
  color: white;
  border: 0.5px solid white;
  background-color: var(--accent-color);

}

/*Mobile menu*/
.burger-menu {
  display: none;
}

.mobile-menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 1000;
  padding: 20px;
}

.mobile-nav-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.mobile-nav-list .nav-item {
  margin: 20px 0;
}


@media (max-width: 768px) {

  .profile-block,
  .mobile-profile-block {
    display: none;
  }
}

.mobile-profile-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}


@media (max-width: 1280px) {

  .nav-list {
    display: none;
  }

  .burger-menu {
    display: block;
  }



  .mobile-menu {
    display: none;
  }

  .mobile-menu.active {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    align-items: center;

  }
}




.burger-btn,
.close-btn {
  background-color: transparent;
  border: none;
  color: var(--accent-color);
  cursor: pointer;
}

.icon-burger,
.icon-cross {
  display: block;
  align-items: center;
  justify-content: center;

  fill: #CC8E1E;
}


/*hero-section*/

.hero-section {
  display: flex;
  margin-top: 87px;
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.hero-content__text {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 24px;
}

.hero-img {
  display: block;
  height: 100%;
}

.section-title {
  color: #2B3F5B;
  font-family: "Oranienbaum",
    serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 48px;
  text-transform: uppercase;
}

.hero-text {
  color: #2B3F5B;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

/*services-section*/

.services-section {
  margin-top: 61px;
}

.services-list {
  margin-top: 48px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.services-item {
  flex: 1 1 calc(33.333% - 20px);
  background: #f9f9f9;
  padding: 24px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;
}

.card-title {
  color: #CC8E1E;
  font-family: "Oranienbaum",
    serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}

.card-content {
  flex-grow: 1;
}

.card-list {
  list-style-type: none;
  padding: 0;
}

.card-price span {
  text-decoration: line-through;
}


.form-btn {
  display: flex;
  height: 40px;
  padding: 15px 20px;
  justify-content: center;
  align-items: center;

  border-radius: 50px;
  border: none;
  background: #CC8E1E;

  color: white;
  border: 0.5px solid #CC8E1E;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  transition: all .3s ease;
  margin-top: 16px;
}

.form-btn:hover {
  color: var(--accent-color);
  background-color: white;
}


@media (max-width: 768px) {
  .services-item {
    flex: 1 1 100%;
  }
}


/*form*/
.section-title.form {
  margin-bottom: 48px;
}

.form-section {
  margin-top: 46px;
}

.form-section__content {
  display: flex;
  flex-direction: column;
  gap: 64px;
  align-items: center;
  justify-content: center;
}

.form-container {
  padding: 20px;
  border: 1px solid rgba(204, 142, 30, 0.27);
  width: 100%;
  text-align: center;
}

.form-container h1 {
  color: #2B3F5B;
  font-family: "Oranienbaum", serif;
  font-size: 32px;
  font-weight: 400;
  line-height: 40px;
  margin-bottom: 16px;
  text-align: start;
}

form {
  position: relative;
  display: flex;
  flex-direction: column;
}

input[type="text"],
input[type="tel"],
input[type="email"] {

  display: flex;
  height: 50px;
  padding: 16px 16px 0 16px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  align-self: stretch;
  margin-bottom: 8px;

  border-radius: 10px;
  border: 1px solid rgba(204, 142, 30, 0.60);

  background: #F6F5F2;
}

input::placeholder {
  color: #B6BBC3;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}


label {
  margin-bottom: 5px;
  text-align: left;

  color: #646E7C;

  font-family: "Inter", sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
}


.label {
  z-index: 1;
  position: absolute;
  left: 16px;
}

.label-name1 {
  top: 10px;
}

.label-name2 {
  top: 68px;
}

.label-phone {
  top: 125px;
}

.label-email {
  top: 185px;
}

.label-checkbox {
  color: #2B3F5B;

  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.checkbox-container {
  display: flex;
  align-items: start;
  cursor: pointer;
  margin-top: 16px;
}

input[type="checkbox"] {
  position: relative;
  appearance: none;
  --webkit-appearance: none;
  width: 113px;
  height: 24px;
  border-radius: 5px;
  border: 1px solid #B6BBC3;

  background: #F6F5F2;
  margin-right: 5px;
  display: flex;
  align-items: center;
  justify-self: center;
  outline: none;
}

input[type="checkbox"]::after {
  display: none;
  content: url('assets/icons/check.png');
  width: 24px;
  height: 24px;
  margin-top: 5px;
  margin-left: 3.5px;
}

input[type="checkbox"]:checked {
  width: 24px;
  height: 24px;
}

input[type="checkbox"]:checked:after {
  display: block;
}

button {
  padding: 10px;
  background-color: orange;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}



/*slider*/

.swiper {
  width: 320px;
  height: 100%;
  cursor: pointer;
}

.swiper-slide {
  width: 320px;
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.swiper-slide img {
  display: block;
  width: 320px;
  object-fit: cover;
}

.swiper-slide .slider-text {
  max-width: 100%;
}

.mySwiper .swiper-button-next::after {
  display: none;
  content: url('assets/icons/arrow-left.png');
  width: 88px;
  height: 88px;
  margin-right: 40px;
}

.mySwiper .swiper-button-prev::after {
  display: none;
  content: url('assets/icons/arrow-right.png');
  width: 88px;
  height: 88px;
  margin-left: 40px;
}

.slider-text {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 16px;
  align-items: flex-start;
}

.slider-text p {
  color: #2B3F5B;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: start;
}

.slider-text a {
  color: #CC8E1E;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  transition: all .3s ease;
  text-align: start;
}

.slider-text a:hover {
  color: #2B3F5B;
}

.slider-title {
  color: #000;
  font-family: "Oranienbaum", serif;
  font-size: 32px;
  font-weight: 400;
  line-height: 40px;
  text-align: start;
}



/*proce-section*/

.price-section {
  margin-top: 60px;
}

.price-block {
  margin-top: 48px;
  padding: 18px 18px;
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(204, 142, 30, 0.27);
  background: #FFF;
  gap: 26px;
  max-height: 400px;
  overflow-y: auto;
}

.price-header {
  background-color: #FAF4E8;
  padding: 16px 0;
  color: #2B3F5B;

  text-align: center;
  font-family: "Oranienbaum", serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
}

.price-list {
  display: flex;
  flex-direction: column;
  gap: 26px;
}


.price-header,
.price-item {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #FAF4E8;
  padding: 10px 0;
  gap: 10px;
}

.price-item {
  background: #F1EFE9;
  font-family: "Oranienbaum", serif;
}

.price-header p {
  font-size: 16px;
}


.price-header p,
.price-item p {
  text-align: center;
  font-size: 16px;
}


.price-item .price,
.price-item .price-value {
  align-self: center;
}

.price-item p:nth-child(2) {
  text-align: start;
  align-self: center;
  font-size: 16px;
}



/*scroll-bar*/

.price-block::-webkit-scrollbar {
  width: 12px;
}

.price-block::-webkit-scrollbar-track {
  background: #FFF;
  border-radius: 10px;
}

.price-block::-webkit-scrollbar-thumb {
  background-color: #ffa500;
  border-radius: 10px;
  border: 3px solid #FFF;
}



/*title-section*/

.title-section {
  width: 100%;
  margin-top: 94px;
}

.title-content {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 735px;
  margin: 0 auto;
}

.title-content::after {
  content: url('assets/images/logo1.png');
  width: 112px;
  height: 94px;
  position: absolute;
  top: -50px;
  left: 50%;
}

.title-content h2 {
  color: #CC8E1E;
  font-family: "Oranienbaum", serif;
  font-size: 54px;
  font-style: normal;
  font-weight: 400;
  line-height: 90%;
}

.title-content h2:nth-child(2) {
  color: #000;
  padding-left: 0;
}

.title-content h2:nth-child(3) {
  text-align: end;
}



/*contact-section*/

.contact-block {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 55px 10px;
  background: white;
  margin-top: 60px;
  gap: 150px;
}

.contact-info {
  display: flex;
  flex-direction: column;
}

.contact-info p:nth-child(1),
.contact-email p:nth-child(1) {
  color: #2B3F5B;

  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  margin-bottom: 13px;
}

.contact-info p:nth-child(2),
.contact-email p:nth-child(2) {
  color: #2B3F5B;

  font-family: "Oranienbaum", serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%;
  margin-bottom: 18px;
}

.contact-adress {
  position: relative;
  z-index: 3;
  display: flex;
  flex-direction: column;
}

.contact-adress p:nth-child(1) {
  color: #FFF;

  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.contact-adress p:nth-child(2),
.contact-adress p span {
  color: #FFF;

  font-family: "Oranienbaum", serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%;
}

.contact-adress span {
  color: #FFF;

  font-family: "Oranienbaum", serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%;
}

.icon-map {
  position: absolute;
  width: 100%;
  display: block;
  z-index: -1;
  width: 300px;
  top: -85px;
  left: -40px;
}

.map-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.contact-list {
  display: flex;
  gap: 30px;
}

.contact-list li a .contact-icon {
  transition: all .3s ease;
}


.contact-icon {
  width: 24px;
  height: 24px;
  display: block;
  align-items: center;
  justify-content: center;

  fill: #CC8E1E;
  transition: all .3s ease;
}

.contact-icon.footer {
  fill: #2B3F5B;
}

.contact-icon.telegram {
  position: relative;
  fill: #2B3F5B;
  left: 0;
  top: 0;
  z-index: 10;
}

.contact-icon:hover {
  fill: #926514;
}



/*footer*/

footer {
  width: 100%;
  margin-top: 90px;
  margin-bottom: 60px;
}

.footer-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer-block__first {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 15px;
  margin-bottom: 30px;
}

.footer-img {
  display: flex;
  align-items: center;
  gap: 15px;
}

.footer-block__second {
  display: flex;
  flex-direction: column;
}

.footer-block__second ul {
  display: flex;
  gap: 15px;
}

.footer-block__second ul li a {
  color: #CC8E1E;

  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  transition: all .3s ease;
}

.footer-block__second ul li a:hover {
  color: var(--text-main);
}


.footer-block__third ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.footer-block__third li a {
  color: #CC8E1E;

  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  text-transform: uppercase;
  transition: all .3s ease;
}

.footer-block__third li a:hover {
  color: var(--text-main);
}

.footer-second__links {
  display: flex;
  gap: 30px;
  margin-bottom: 15px;
}

.footer-second__links a {
  color: #2B3F5B;

  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 150%;
  transition: all .3s ease;
}

.footer-second__links a:hover {
  color: var(--accent-color);
}

.block-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 40px;
}




/* adaptive */

@media (min-width: 768px) {
  .mobile-profile-block {
    flex-direction: row;
    gap: 10px;
  }

  .hero-img {
    height: 456px;
  }

  .swiper {
    width: 768px;
  }

  .swiper-slide {
    width: 629px;
  }

  .swiper-slide img {
    width: 629px;
    height: 294px;
  }

  .swiper-slide .slider-text {
    width: 629px;
  }

  .form-container {
    width: 413px;
  }


  .hero-content__text {
    width: 413px;
    gap: 24px;
  }

  .price-section {
    margin-top: 116px;
  }

  .price-header p {
    font-size: 24px;
    font: bold;
  }

  .price-block {
    max-height: 762px;
  }

  .title-section {
    margin-top: 194px;
  }

  .footer-block__first {
    margin-right: auto;
    width: 295px;
    margin-bottom: 0;
  }

  .block-wrapper {
    flex-direction: row;
  }

  input[type="checkbox"] {
    width: 77px;
  }
}



@media (min-width: 1024px) {
  .form-section {
    margin-top: 116px;
  }

  .services-section {
    margin-top: 81px;
  }

  .swiper {
    width: 837px;
  }

  .title-content h2 {
    font-size: 82px;
    padding-left: 35px;
  }

  .title-content h2:nth-child(3) {
    padding-right: 40px;
  }
}


@media (min-width: 1280px) {
  .hero-content {
    flex-direction: row;
  }

  .form-section__content {
    flex-direction: row;
    justify-content: space-between;
    gap: 0;
  }

  .mySwiper .swiper-button-next::after,
  .mySwiper .swiper-button-prev::after {
    display: block;
  }

  .price-block {
    padding: 48px 108px;
  }

  .price-header {
    line-height: 40px;
  }

  .price-header p {
    font-size: 32px;
  }

  .contact-block {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 85px 0;
    background: white;
    margin-top: 160px;
    gap: 150px;
  }

  .icon-map {
    position: absolute;
    width: 100%;
    display: block;
    z-index: -1;
    width: 386px;
    top: -130px;
    left: -70px;
  }

  .footer-block__second ul {
    margin-bottom: 30px;
  }

  footer {
    margin-top: 190px;
  }

  .footer-content {
    flex-direction: row;
  }

  .footer-second__links a {
    width: 270px;
  }

  .footer-block__third {
    margin-left: 102px;
  }

  .block-wrapper {
    margin-bottom: 0;
  }

  .map-block {
    flex-direction: row;
  }
}